{% extends '../basement.html' %}
{% block title %}
    {% if form.new_username %}Change username | {{user}}
    {% elif form.new_email %}Change email | {{user}}
    {% elif form.old_password %}Change password | {{user}}
    {% elif form.first_name %}Edit Bio | {{user}}
    {% elif form.country %}Edit Location | {{user}}{% endif %}
{% endblock title %}

{% block section %}
<div>
    {% if form.is_multipart %}
    <form enctype="multipart/form-data" action="." method="post">
    {% else %}
    <form action="." method="post">
    {% endif %}
        {% csrf_token %}
        <div>{{form.non_field_errors}}</div>

        {% if form.current_email %}
           <div>Current email: {{user.email}}</div><br>
        {% elif form.current_username %}
           <div>Current username: {{user.username}}</div><br>
        {% endif %}

        {% for field in form.visible_fields %}
        <div>
            <div>{{field.label_tag}}</div>
            <div>{{field}}</div>

            {% if field.help_text %}
                <div>{{field.help_text|safe}}</div>
            {% endif %}

            {% if field.errors %}
            <div>
                {% for error in field.errors %}
                <span>{{error}}</span>
                {% endfor %}
            </div>
            {% endif %}
            
        </div>
        {% endfor %}
        <div><input type="submit" value="Save"></div>
    </form>
</div>
{% endblock section %}