{% extends '../basement.html' %}
{% block title %}Password reset email template{% endblock title %}

{% block section %}
<div>
    <div>
        <p>
            A password reset request was made for {{email}} if this is you,<br>
            kindly click on the link below to reset your password. Please ignore
            if this request was not made by you.
        </p>
        {{protocol}}://{{domain}}{% url 'userapp:reset-password-confirm' uidb64=uid token=token %}
    </div>
</div>
{% endblock section %}