{% extends '../basement.html' %}
{% block title %} Sign In {% endblock title %}


{% block section %}
<div>
    {% if next %}
    <div>
        <p>
            Only logged in users can view such pages,
            please login with your email and password.
        </p>
    </div>
    {% endif %}
    
    <h1>Sign In</h1>
    <div>
        <form action="{% url 'userapp:sign-in' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div>
                {% if field.errors %}
                <div>
                    {% for error in field.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% endif %}
                
                <div>{{field.label_tag}}</div>
                <div>{{field}}</div>
            </div>
            {% endfor %}
            <div><a href="{% url 'userapp:reset-password' %}">Forgot password?</a></div>
            <div><input type="submit" value="Sign in"></div>            
        </form>
    </div>
</div>
{% endblock section %}