{% extends '../basement.html' %}
{% block title %}{{user}} | Add Social accounts | BrainShare {% endblock title %}

{% block section %}
<div>
    <form action="." method="post">{% csrf_token %}
        {% if form.non_form_errors %}
        <div>
            {% for error in form.non_form_errors %}
            <span>{{error}}</span>
            {% endfor %}
        </div>
        {% endif %}

        <div>
            {{form.management_form}}
        </div>
        
        <div>
            {{form.as_p}}
        </div>
        <div><input type="submit" value="Save"></div>
    </form>
</div>
{% endblock section %}