{% extends '../basement.html' %}
{% block title %}
{% if tag %}Tag{% else %}Search{% endif %} result |
Clusstar
{% endblock title %}


{% block section %}
<div class="w-full h-full mt-24 mb-8 bg-body-500">

    <div class="w-11/12 mx-auto text-center">
        {% if tag %}
        <div class="flex flex-col leading-10">
            <div><span class="text-body-100 text-lg font-black">Tag</span></div>
            <div><h1 class="text-gray text-4xl md:text-6xl font-black">{{ tag|title }}</h1></div>
            <div><span class="text-body-100 text-lg font-black">Results: {{ posts|length }}</span></div>
        </div>
        {% else %}
        <div>
            <div><h1 class="text-4xl text-gray font-black mb-4">Search results for</h1></div>
            <div class="">
                <form action="{% url 'blogapp:post-search' %}" method="get" class="w-full md:w-66 mx-auto">
                    <div class="flex border-b-2 border-ph bg-body-100 py-1 px-2 rounded-sm overflow-hidden">
                        <input type="search" name="q" id="q" value="{{request.GET.q}}" class="text-white text-lg bg-body-100 outline-none p-2">
                        <button type="submit" class="w-full text-white px-4 py-2 bg-body-500 hover:bg-body-300 rounded-sm shadow-white">Search</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="w-11/12 mx-auto border-t border-body-100 pt-4 mt-8">
    {% if posts|length == 0 %}
        <div class="">
            <span class="text-white text-2xl md:text-6xl font-black">Sorry no results</span>
        </div>
    {% else %}
        <div class="flex flex-wrap justify-evenly">
            {% for post in posts %}
            <div id="" class="postCard relative w-full h-66 md:w-67 bg-body-300 rounded-lg mb-3 shadow-xl group overflow-hidden">
                <div class="w-full h-56 bg-nav">
                    <img src="{% if post.banner %}{{post.banner.url}}{% endif %}" alt="Post Banner" class="w-full h-full object-cover">
                </div>
                <div class="absolute top-0 left-0 bg-body-300 w-full h-full px-3 py-1 mt-56 group-hover:mt-40 transition-all duration-150">
                    <div><span class="text-sm font-black text-gray">{{post.concern|capfirst}}</span></div>
                    <div class="flex leading-5 h-20 mt-2 group-hover:h-auto">
                        <a href="{% url 'blogapp:post-detail' post.slug %}" class="title text-lg text-white font-medium group-hover:underline hover:text-blue-100">{{post.title|truncatechars:80}}</a>
                    </div>
                    <div class="mt-2 textContent">
                        <p class="text-sm text-faint leading-4">
                            {{post.text_content|safe|capfirst|default_if_none:""|truncatechars:200}}
                            <a href="{% url 'blogapp:post-detail' post.slug %}" class="text-blue-100 text-sm">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
                        </p>
                    </div>
                </div>
                <!-- button to copy the post link to clipboard -->
                <div class="absolute bottom-0 left-0 p-3 w-full bg-body-300 flex justify-between">
                    <div class="flex items-center space-x-3">
                        <div class="rounded-full overflow-hidden"><img src="{% if post.author.image %}{{post.author.image.url}}{% endif %}" alt="" class="rounded-full object-cover h-12 w-12 bg-faint"></div>
                        <div class="flex flex-col -space-y-2">
                            <div id="authorTooltipBtn"><a href="{% url 'blogapp:author-detail' post.author.slug %}" class="authorTooltipBtn -space-y-2 text-white text-lg font-semibold">{{post.author.profile.username}}</a></div>
                            <div><span class="text-gray text-sm">{{post.date_to_publish|date:"b d, Y"}}</span></div>
                        </div>
                    </div>
                    <div id="" class="self-end copyBtn opacity-0 group-hover:opacity-100 transition-all duration-150">
                        <button class="bg-body-500 text-white px-2 py-1 text-sm font-semibold hover:bg-white hover:text-nav">Copy Link</button>
                    </div>

                    <!-- hover author detial -->
                    <div id="authorTooltip" class="hidden authorTooltip">
                        <div class="w-48 h-48 flex flex-col justify-between bg-nav rounded-lg overflow-hidden p-1">
                            <div class="flex items-center">
                                <div class="h-16 w-16  overflow-hidden mr-2">
                                    <img src="{% if post.author.image %}{{post.author.image.url}}{% endif %}" id="tooltipImage" class="tooltipImage rounded-full w-full h-full object-cover border-4 border-body-100">
                                </div>
                                <div class="flex flex-col justify-center items-center leading-4">
                                    <div><span class="text-xs text-body-100 font-black">AUTHOR</span></div>
                                    <div><a href="{% url 'blogapp:author-detail' post.author.slug %}" id="tooltipUsername" class="tooltipUsername text-xl text-white"></a></div>
                                </div>
                            </div>
                            <div class="leading-3 h-20 text-left border-t border-body-100 py-1">
                                <span id="tooltipBio" class="tooltipBio text-sm text-ph"></span>
                            </div>
                            <div id="tooltipSocial" class="tooltipSocial w-full flex text-body-100 border-t border-body-100">
                                <a id="discord" href="" target="_blank" class="hidden"><i class="p-2 fab fa-discord fa-lg hover:text-blue-500"></i></a>
                                <a id="facebook" href="" target="_blank" class="hidden"><i class="p-2 fab fa-facebook-f fa-lg hover:text-blue-500"></i></a>
                                <a id="twitter" href="" target="_blank" class="hidden"><i class="p-2 fab fa-twitter fa-lg hover:text-blue-500"></i></a>
                                <a id="github" href="" target="_blank" class="hidden"><i class="p-2 fab fa-github fa-lg hover:text-blue-500"></i></a>
                                <a id="instagram" href="" target="_blank" class="hidden"><i class="p-2 fab fa-instagram fa-lg hover:text-blue-500"></i></a>
                                <a id="linkedin" href="" target="_blank" class="hidden"><i class="p-2 fab fa-linkedin-in fa-lg hover:text-blue-500"></i></a>
                                <a id="pinterest" href="" target="_blank" class="hidden"><i class="p-2 fab fa-pinterest-p fa-lg hover:text-blue-500"></i></a>
                                <a id="slack" href="" target="_blank" class="hidden"><i class="p-2 fab fa-slack-hash fa-lg hover:text-blue-500"></i></a>
                                <a id="telegram" href="" target="_blank" class="hidden"><i class="p-2 fab fa-telegram-plane fa-lg hover:text-blue-500"></i></a>
                                <a id="youtube" href="" target="_blank" class="hidden"><i class="p-2 fab fa-youtube fa-lg hover:text-blue-500"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>

</div>
{% endblock section %}