{% extends '../basement.html' %}
{% load customfilters %}
{% block title %} {{postdetail.title|truncatewords:2}} | {{postdetail.author}} {% endblock title %}


{% block section %}
<div id="postDetailContainer" class="mt-24 mb-8 bg-body-500">

    <div id="" class="w-11/12 md:w-2/4 mx-auto flex justify-between items-center">
        <div id="" class="flex items-center space-x-2">
            <a href="{% url 'blogapp:author-detail' postdetail.author.slug %}">
                <img src="{% if postdetail.author.image %}{{postdetail.author.image.url}}{% endif %}" alt="" class="h-20 w-20 object-cover rounded-full bg-nav border-2 border-gray">
            </a>
            <div class="flex flex-col leading-5">
                <div><a href="{% url 'blogapp:author-detail' postdetail.author.slug %}" class="text-2xl text-white font-medium">{{postdetail.author.profile.username}}</a></div>
                {% if postdetail.author.social_set.all.count > 0 %}
                <div class="flex space-x-2 items-start text-gray mt-2">
                    {% for account in postdetail.author.social_set.all %}
                        {% if account.platform|lower == 'facebook' %}
                        <a href="{{account.link}}"><i class="fab fa-facebook-f text-lg hover:text-blue-500"></i></a>
                        {% endif %}
                        {% if account.platform|lower == 'twitter' %}
                        <a href="{{account.link}}"><i class="fab fa-twitter text-lg hover:text-blue-500"></i></a>
                        {% endif %}
                        {% if account.platform|lower == 'github' %}
                        <a href="{{account.link}}"><i class="fab fa-github text-lg hover:text-blue-500"></i></a>
                        {% endif %}
                        {% if account.platform|lower == 'linkedin' %}
                        <a href="{{account.link}}"><i class="fab fa-linkedin-in text-lg hover:text-blue-500"></i></a>
                        {% endif %}
                        {% if account.platform|lower == 'slack' %}
                        <a href="{{account.link}}"><i class="fab fa-slack-hash text-lg hover:text-blue-500"></i></a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div id="postDate">
            <span class="text-base text-gray font-medium">{{postdetail.date_to_publish|date:"M d, Y"}}</span>
        </div>
    </div>

    <div id="postTitle" class="w-11/12 md:w-2/4 mx-auto mt-6">
        <h1 class="text-2xl md:text-3xl text-white font-medium md:text-justify tracking-tight leading-7 capitalize">{{postdetail.title|safe}}</h1>
    </div>
    
    {% if postdetail.banner %}
    <div id="postBanner" class="mt-8 w-full mx-auto overflow-hidden">
        <div class="w-full h-66 md:h-auto shadow-lg">
            <img src="{{postdetail.banner.url}}" alt="" class="w-full h-full object-cover object-center">
        </div>
        {% if postdetail.banner_copyright %}
        <div class="text-center">
            {% if postdetail.banner_copyright_link %}
            <a href="{{postdetail.banner_copyright_link}}" class="inline-block text-xs italic text-gray font-hairline hover:text-blue-500">{{postdetail.banner_copyright|safe}}</a>
            {% else %}
            <span class="text-xs italic text-gray font-hairline">{{postdetail.banner_copyright|safe}}</span>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% endif %}

    {% if postdetail.tags %}
    <div id="tags" class="w-11/12 md:w-2/4 mx-auto mt-2 flex flex-wrap space-x-1">
        {% for tag in postdetail.tags|listify %}
        <a href="{% url 'blogapp:post-tag' tag %}" class="bg-nav text-ph text-sm p-1 md:p-2 rounded-md shadow-lg hover:bg-body-100 transition-colors duration-100 cursor-pointer">{{tag|safe|capfirst}}</a>
        {% endfor %}
    </div>
    {% endif %}

    <div id="content" class="w-full md:w-2/3 mx-auto">

            {% if postdetail.heading or postdetail.text_content %}
            <div id="postTextContent" class="mt-16 w-11/12 mx-auto iflinks">
                <div><h1 class="text-3xl text-white font-medium tracking-tight leading-7">{{postdetail.heading|safe|capfirst}}</h1></div>
                <div><p class="text-base text-white font-medium md:text-justify tracking-tight leading-6 mt-4">{{postdetail.text_content|safe|capfirst}}</p></div>
            </div>
            {% endif %}
        
            {% if postdetail.image %}
            <div id="postImage" class="w-4/5 mx-auto mt-8">
                <div class="w-full h-65 md:h-69 shadow-lg rounded-lg overflow-hidden">
                    <img src="{{postdetail.image.url}}" alt="" class="image w-full h-full object-cover cursor-pointer" title="Clik to expand">
                </div>
                {% if postdetail.image_copyright %}
                <div class="text-center">
                    <a href="{{postdetail.image_copyright_link}}" class="inline-block text-xs text-ph font-hairline hover:text-blue-500">{{postdetail.image_copyright|safe}}</a>
                </div>
                {% endif %}
            </div>
            {% endif %}
        
            {% if postdetail.list_content %}
            <div class="w-9/12 mx-auto mt-8 iflinks">
                <ul class="{% if postdetail.list_style == 'Ordered List (numeric)' %}list-decimal{% else %}list-disc{% endif %}">
                    {% for item in postdetail.list_content|listify %}
                    <li class="text-base text-white font-medium text-justify tracking-wide leading-6">{{item|safe|capfirst}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        
            {% if postdetail.code %}
            <div class="w-4/5 h-48 border mx-auto mt-8 w-4/5 h-48 mx-auto mt-8 overflow-auto bg-gray shadow-lg rounded-lg p-3"><pre class="text-base font-medium overflow-auto">{{postdetail.code}}</pre></div>
            {% endif %}
            
            <!-- this code block deals with the post more content section -->
            {% for morecontent in postdetail.morecontent_set.all %}
        
                {% if morecontent.heading or morecontent.text_content %}
                <div class="mt-12 w-11/12 mx-auto iflinks">
                    {% if morecontent.heading %}
                    <div><h3 class="text-2xl text-white font-medium tracking-tight leading-7">{{morecontent.heading|safe|capfirst}}</h3></div>
                    {% endif %}
                    {% if morecontent.text_content %}
                    <div class="mt-4"><p class="text-base text-white md:text-justify font-medium tracking-tight leading-6 mt-4">{{morecontent.text_content|safe|capfirst}}</p></div>
                    {% endif %}
                </div>
                {% endif %}
        
                {% if morecontent.image %}
                <div class="w-4/5 mx-auto mt-8">
                    <div class="w-full h-65 md:h-67 shadow-lg rounded-lg overflow-hidden">
                        <img src="{{morecontent.image.url}}" alt="" class="image w-full h-full object-cover cursor-zoom-in" title="Clik to expand">
                    </div>
                    {% if morecontent.image_copyright %}
                    <div class="text-center">
                        <a href="{{morecontent.image_copyright_link}}" target="_blank" class="inline-block text-xs text-ph font-hairline hover:text-blue-500">{{morecontent.image_copyright|safe}}</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
        
                {% if morecontent.list_content %}
                <div class="w-9/12 mx-auto mt-8 iflinks">
                    <ul class="{% if morecontent.list_style == 'Ordered List (numeric)' %}list-decimal{% else %}list-disc{% endif %}">
                        {% for item in morecontent.list_content|listify %}
                        <li class="text-base text-white font-medium text-justify tracking-wide leading-6">{{item|safe|capfirst}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                
                {% if morecontent.code %}
                <div class="w-4/5 h-48 mx-auto mt-8 overflow-auto bg-gray shadow-lg rounded-lg p-3"><pre class="text-nav text-base font-medium">{{morecontent.code|linenumbers}}</pre></div>
                {% endif %}
        
            {% endfor %}

            <!-- intro about the author of this post -->
            {% block authorbreif %}
                <div class="w-11/12 mx-auto mt-12">
                    <div class="border-b-4 border-nav"></div>
                    <div class="flex flex-col space-y-3 mt-2">
                        <div class="flex space-x-3">
                            <a href="{% url 'blogapp:author-detail' postdetail.author.slug %}" class="w-24 h-24 md:w-32 md:h-32 overflow-hidden rounded-full border-4 border-body-100 flex flex-shrink-0 self-start">
                                <img src="{% if postdetail.author.image %}{{postdetail.author.image.url}}{% endif %}" alt="" class="h-full w-full object-cover">
                            </a>
                            <div class="flex flex-col justify-center leading-6">
                                <div><span class="text-body-100 font-black text-sm">AUTHOR</span></div>
                                <div><a href="{% url 'blogapp:author-detail' postdetail.author.slug %}" class="text-white text-4xl">{{postdetail.author}}</a></div>
                            </div>
                        </div>
                        <div class="leading-5 iflinks">
                            <span class="text-base text-faint">
                                {{postdetail.author.profile.about_me|capfirst|truncatewords:50}}
                            </span>
                            <a href="{% url 'blogapp:author-detail' postdetail.author.slug %}">View more</a>
                        </div>
                    </div>
                </div>
            {% endblock authorbreif %}


            <!-- this section contains more post by this author -->
            {% block morepost %}
                {% if morepost %}
                <div class="w-11/12 bg-transparent mx-auto mt-12 mb-8">
                    <div class="flex">
                        <div class="flex-1 self-center h-1 bg-nav mr-1"></div>
                        <div class="flex-initial text-lg text-gray mx-2">More</div>
                        <div class="flex-1 self-center h-1 bg-nav ml-1"></div>
                    </div>

                    <div class="w-full mt-4 p-2 flex md:flex-wrap overflow-x-auto">
                        {% for post in morepost %}
                        <div id="" class="postCard flex-none relative h-65 w-65 bg-body-500 rounded-lg mb-3 mr-3 shadow-white-xs group overflow-hidden">
                            <div class="w-full h-48 overflow-hidden">
                                <img src="{% if post.banner %}{{post.banner.url}}{% endif %}" alt="" class="w-full h-full object-cover">
                            </div>
                            <!-- slide up title/snap view -->
                            <div class="absolute top-0 left-0 bg-body-500 w-full h-full px-3 mt-48 group-hover:mt-32 transition-all duration-150">
                                <div class="flex leading-5 h-32 mt-2 group-hover:h-auto">
                                    <a href="{% url 'blogapp:post-detail' post.slug %}" class="title text-lg text-white font-medium group-hover:underline hover:text-blue-100">{{post.title|truncatechars:80}}</a>
                                </div>
                                <div class="mt-2 textContent">
                                    <p class="text-sm text-faint leading-4">{{post.text_content|safe|capfirst|default_if_none:""|truncatechars:200}}</p>
                                </div>
                            </div>
                            <!-- button to copy the post link to clipboard -->
                            <div id="" class="absolute bottom-0 right-0 copyBtn h-0 group-hover:h-6 transition-all duration-75">
                                <button class="bg-body-100 text-white px-2 py-1 text-sm font-semibold hover:bg-white hover:text-nav">Copy Link</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                    {% if morepost|length > 2 %}
                    <div class="flex flex-no-wrap space-x-2 mb-8">
                        <div class="flex-1 self-center border-b-4"></div>
                        <div class="flex-initial">
                            <a href="{% url 'blogapp:author-detail' postdetail.author.slug %}" class="text-lg text-blue-500 hover:text-blue-100 align-bottom">View all</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            {% endblock morepost %}
    </div>
    
</div>

<!-- image modal effect -->
<div id="modal" class="fixed top-0 left-0 w-full h-full bg-transparent hidden pt-2">
    <div class="w-11/12 md:w-1/2 mx-auto my-auto flex flex-col items-center justify-center">
        <div class="w-40 text-center rounded-lg shadow-lg mb-2">
            <button id="closeModal" class="w-full text-lg text-white p-1 bg-red-500 hover:bg-red-100 rounded-lg cursor-zoom-out">Close</button>
        </div>
        <div class="w-full md:w-67 mb-3" style="max-height: 90%;">
            <img src="" id="imageModal" alt="" class="w-full h-full object-cover rounded-lg shadow-white-lg">
        </div>
    </div>
</div>

{% endblock section %}
